.rating-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rating {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--success-color);
  border-radius: 6px;
  padding: 5px 5px;
}
.rating img {
  width: 16px;
  height: 16px;
}
.rating-container span {
  background-color: var(--info-color);
  font-size: 16px;
  padding: 5px 5px;
  border-radius: 6px;
}
