.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
}
.banner img {
  width: 50%;
  height: 300px;
}
.banner .img-left {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.banner .img-right {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
@media (max-width: 920px) {
  .banner {
    flex-wrap: wrap;
  }
  .banner img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 10px 10px;
  }
}
