.categories {
  display: flex;
  gap: 30px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.category-body {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 5px;
}
.category-body img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}
.category-body h2 {
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.category-body h2::after,
.category-body h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.category-body h2::after {
  width: 55px;
  height: 4px;
  background-color: var(--info-color);
  bottom: -10px;
}
.category-body h2::before {
  width: 16px;
  height: 16px;
  background-color: #69a3e5;
  border-radius: 50%;
  bottom: -16px;
  z-index: 2;
}
@media (max-width: 768px) {
  .categories {
    padding: 10px 10px;
  }
  .category-body {
    width: 150px;
  }
  .category-body h2 {
    font-size: 18px;
  }
}
